<div class="container">
  <h1>My List</h1>
    <div class="container_list" >
      <% @lists.each do |list| %>
        <div class="card_list">
          <%= link_to image_tag(list.image), list_path(list) %>
          <p id="text_list"> <%= list.name %> </p>
        </div>
      <% end %>
    </div>
    <%= link_to "Create a New List", new_list_path, class: "btn btn-light"%>
  </div>
