<div class="container">
  <h1>My List</h1>
    <div class="container_list" >
      <% @lists.each do |list| %>
        <div class="card_list">
          <%= cl_image_tag list.image.key %>
          <%= link_to list.name, list_path(list), id:"text_list" %>
        </div>
      <% end %>
    </div>
    <%= link_to "New List", new_list_path, class: "btn btn-light"%>
  </div>
