// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
 navbar {
  height: 80px
}
h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: light;
}

.btn-light {
  font-size: 0.8rem;
  font-family: 'Open Sans', sans-serif;
}

.container {
  margin-top: 48px;
  padding:: 24px;
}

.container_list {
  display: flex;
  padding: 24px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card_list {
  position: relative;
  display: inline-block;
  margin-bottom: 48px;
}
  .card_list {
    img {
      display: block;
      text-align: center;
      height: 150px;
      width:  200px;
      border-radius: 8px;
      box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
      object-fit: cover;
      vertical-align: middle;
      filter: grayscale(100%) brightness(40%);
      opacity: 0.8;

    }

    p{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate( -50%, -50% );
      text-align: center;
      font-weight: bold;
      margin: auto;
      color: white;
      text-decoration: none;
      font-size: 18px;
    }
  }


